@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed Italic";
  src: url("../fonts/RobotoCondensed-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed Bold Italic";
  src: url("../fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Send Flowers";
  src: url("../fonts/SendFlowers-Regular.ttf");
}
